/* Variables de colores */
$sf-color-red: red;
$sf-color-red-light: lightcoral;
$sf-color-red-dark: darkred;

$sf-color-blue: blue;
$sf-color-blue-light: lightblue;
$sf-color-blue-dark: darkblue;

$sf-color-green: green;
$sf-color-green-light: lightgreen;
$sf-color-green-dark: darkgreen;

$sf-color-yellow: yellow;
$sf-color-yellow-light: lightyellow;
$sf-color-yellow-dark: darkkhaki;

$sf-color-purple: purple;
$sf-color-purple-light: lavender;
$sf-color-purple-dark: indigo;

$sf-color-orange: orange;
$sf-color-orange-light: lightsalmon;
$sf-color-orange-dark: darkorange;

$sf-color-pink: pink;
$sf-color-pink-light: lightpink;
$sf-color-pink-dark: hotpink;

$sf-color-cyan: cyan;
$sf-color-cyan-light: lightcyan;
$sf-color-cyan-dark: darkcyan;

$sf-color-indigo: indigo;
$sf-color-indigo-light: mediumslateblue;
$sf-color-indigo-dark: midnightblue;

$sf-color-teal: teal;
$sf-color-teal-light: paleturquoise;
$sf-color-teal-dark: darkslategray;

$sf-color-brown: brown;
$sf-color-brown-light: burlywood;
$sf-color-brown-dark: saddlebrown;

$sf-color-grey: gray;
$sf-color-grey-light: lightgray;
$sf-color-grey-dark: darkgray;

$sf-color-black: black;
$sf-color-white: white;

/* Colores de fondo */
.sf-bg-red {
  background-color: $sf-color-red;
}

.sf-bg-red-light {
  background-color: $sf-color-red-light;
}

.sf-bg-red-dark {
  background-color: $sf-color-red-dark;
}

.sf-bg-blue {
  background-color: $sf-color-blue;
}

.sf-bg-blue-light {
  background-color: $sf-color-blue-light;
}

.sf-bg-blue-dark {
  background-color: $sf-color-blue-dark;
}

.sf-bg-green {
  background-color: $sf-color-green;
}

.sf-bg-green-light {
  background-color: $sf-color-green-light;
}

.sf-bg-green-dark {
  background-color: $sf-color-green-dark;
}

.sf-bg-yellow {
  background-color: $sf-color-yellow;
}

.sf-bg-yellow-light {
  background-color: $sf-color-yellow-light;
}

.sf-bg-yellow-dark {
  background-color: $sf-color-yellow-dark;
}

.sf-bg-purple {
  background-color: $sf-color-purple;
}

.sf-bg-purple-light {
  background-color: $sf-color-purple-light;
}

.sf-bg-purple-dark {
  background-color: $sf-color-purple-dark;
}

.sf-bg-orange {
  background-color: $sf-color-orange;
}

.sf-bg-orange-light {
  background-color: $sf-color-orange-light;
}

.sf-bg-orange-dark {
  background-color: $sf-color-orange-dark;
}

.sf-bg-pink {
  background-color: $sf-color-pink;
}

.sf-bg-pink-light {
  background-color: $sf-color-pink-light;
}

.sf-bg-pink-dark {
  background-color: $sf-color-pink-dark;
}

.sf-bg-cyan {
  background-color: $sf-color-cyan;
}

.sf-bg-cyan-light {
  background-color: $sf-color-cyan-light;
}

.sf-bg-cyan-dark {
  background-color: $sf-color-cyan-dark;
}

.sf-bg-indigo {
  background-color: $sf-color-indigo;
}

.sf-bg-indigo-light {
  background-color: $sf-color-indigo-light;
}

.sf-bg-indigo-dark {
  background-color: $sf-color-indigo-dark;
}

.sf-bg-teal {
  background-color: $sf-color-teal;
}

.sf-bg-teal-light {
  background-color: $sf-color-teal-light;
}

.sf-bg-teal-dark {
  background-color: $sf-color-teal-dark;
}

.sf-bg-brown {
  background-color: $sf-color-brown;
}

.sf-bg-brown-light {
  background-color: $sf-color-brown-light;
}

.sf-bg-brown-dark {
  background-color: $sf-color-brown-dark;
}

.sf-bg-grey {
  background-color: $sf-color-grey;
}

.sf-bg-grey-light {
  background-color: $sf-color-grey-light;
}

.sf-bg-grey-dark {
  background-color: $sf-color-grey-dark;
}

.sf-bg-black {
  background-color: $sf-color-black;
}

.sf-bg-white {
  background-color: $sf-color-white;
}
