.form-base {
    width: 90vh;
    height: 500px;
    position: relative;
    overflow: hidden;
    clip-path: polygon(
    10% 10%,
    90% 10%,
    90% 30%,
    40% 30%,
    40% 60%,
    90% 60%,
    90% 90%,
    10% 90%,
    10% 70%,
    60% 70%,
    60% 40%,
    10% 40%
  );
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
