@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// VARIABLES
$color-fondo: yellow;
$color-destello: rgba(229, 52, 78, 0.5);
$tama: 8vh;
$p:8px;
$f:left;

//Clase de la barra de navegacion 1
.Navbar-1 {
    nav {
        background-color: $color-fondo;
        padding: 10px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            text-align: center;
            margin-top: 10px; // Añade espacio entre los elementos en pantallas pequeñas
        }
    }

    li {
        margin-right: 20px;

        @media screen and (max-width: 600px) {
            margin-right: 0;
            margin-bottom: 10px; // Añade espacio entre los elementos en pantallas pequeñas
        }
    }

    .icon-container {
        display: flex;
        align-items: center;

        @media screen and (max-width: 600px) {
            margin-top: 10px; // Añade espacio entre los elementos en pantallas pequeñas
        }
    }

    .icon {
        width: 50px;
        height: auto;
        margin-right: 20px;

        @media screen and (max-width: 600px) {
            margin-right: 0;
            margin-bottom: 10px; // Añade espacio entre los elementos en pantallas pequeñas
        }
    }

    a {
        color: black;
        text-decoration: none;
        position: relative;

        &:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-destello;
            animation: glow 0.5s infinite alternate;
        }
        

        @keyframes glow {
            from {
                box-shadow: 0 0 10px 2px $color-destello;
            }
            to {
                box-shadow: 0 0 20px 6px $color-destello;
            }
        }
    }
}

//clase logo
.ig{
    width: $tama;
    padding: $p;
    float: $f;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', Arial, sans-serif;
}

//******Barra Lateral
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5c91b9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 5px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#principal {
    transition: margin-left .5s;
    padding: 16px;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

main {
    padding: 20px;
}

#documentacion article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

footer {
    background-color: yellow;
    color: black;
    padding: 10px;
    text-align: center;
}






